<div>
    <br>
    <div style="margin-left: 10px; width:fit-content" class="border border-dark bg-light rcorner">
        <h2 style="margin-left: 10px; margin-right:10px"> ❤ Quang's room ❤ </h2>
    </div>
    <br>
    {{!-- left menu --}}
    <div style="width: 200px; height: 490px; margin-left: 10px; float: left"
        class="border border-dark bg-light rcorner">
        <ul class="list-group">
            <b>
                <br>
                <li class="list-group-item"><a style="text-decoration: none; color:rgb(238, 63, 121)"
                        href="https://www.facebook.com/quang.benjamin.359/">Facebook</a> </li>
                <li class="list-group-item"><a href="https://www.instagram.com/quangbenjamin.blvck/"
                        style="text-decoration: none; color:rgb(238, 63, 121)">Instagram</a></li>
                <li class="list-group-item"><a href="https://twitter.com/shark_benjamin"
                        style="text-decoration: none; color:rgb(238, 63, 121)">Twitter</a></li>
                <li class="list-group-item"><a href="https://www.youtube.com/channel/UCD4Kg5SwFthQUt9DKeKYo5A"
                        style="text-decoration: none; color:rgb(238, 63, 121)">Youtube</a>
                </li>
                <li class="list-group-item" style="text-decoration: none; color:rgb(238, 63, 121)">0866114321</li>
            </b>
        </ul>

        <img style="margin-top:10px; width: 198px; height: 250px " class="border border-dark rcorner"
            src="https://media.giphy.com/media/r6mRhVtsNCgne/giphy.gif" alt="">


    </div>

    {{!-- mainboard --}}
    <div style="width: 800px; min-height: 260px; margin-left: 10px; float: left"
        class="border border-dark bg-light rcorner">
        {{!-- head --}}
        <b>
            <div style="width: 260px; height: 50px; float: left">
                <center style="margin-top: 10px; color: rgb(240, 141, 174);">Image</center>
            </div>
            <div style="width: 260px; height: 50px; float: left">
                <center style="margin-top: 10px; color: rgb(240, 141, 174);">Name</center>
            </div>
            <div style="width: 260px; height: 50px; float: left">
                <center style="margin-top: 10px; color: rgb(240, 141, 174);">Relationship</center>
            </div>
        </b>
        {{!-- margin --}}
        <div style="height: 50px;"></div>

        {{#each Movie}}
        {{!-- movie1 --}}
        <div style="width: 780px; height: 200px; margin-left: 10px; margin-top:10px; background-color:rgb(240, 141, 174);"
            class="border border-dark  rcorner">
            {{!-- body --}}
            {{!-- image --}}
            <div style="width: 258px; height: 200px; float: left">
                <center style="margin-top: 25px;">
                    <a href="watch/{{this.slug}}"><img class="border border-dark  rcorner" width="150" height="150"
                            src="{{this.image}}" alt=""></a>
                </center>
            </div>
            {{!-- Name --}}
            <div style="width: 258px; height: 200px; float: left" class="">
                <center style="margin-top: 70px;">
                    <h3 style="color: white;">{{this.name}}</h3>
                </center>
            </div>
            {{!-- Index --}}
            <div style="width: 258px; height: 200px; float: left" class="">
                <center style="margin-top: 70px;">
                    <h3 style="color: white;">{{this.relationship}}</h3>
                </center>
            </div>
        </div>
        {{/each}}

        <div style="height: 10px"></div>


    </div>


    {{!-- profile --}}
    <div style="width: 300px; height: 400px; margin-left: 10px; float: left"
        class="border border-dark bg-light rcorner">
        {{!-- pic --}}
        <div style="width: 280px; height: 280px; margin-left: 10px; float: left; margin-top: 10px "
            class="border border-dark rcorner"> <img style="width: 280px; height: 280px "
                class="border border-dark rcorner"
                src="https://lh3.googleusercontent.com/a-/AOh14Gi73Tu8_uBQ7uX2xrWVrOWccdZNnbAwrjzwSog_=s288-p-rw-no"
                alt=""> </div>
        {{!-- text --}}
        <div>
            <img style=" height: 70px; margin-top: 10px; float:left " class=""
                src="https://orig00.deviantart.net/5cf6/f/2016/082/0/d/tomoe_run_animation_by_hybridmink-d8ipuqu.gif"
                alt="">
            <img style=" height: 70px; margin-top: 10px; float:left " class=""
                src="https://orig00.deviantart.net/5cf6/f/2016/082/0/d/tomoe_run_animation_by_hybridmink-d8ipuqu.gif"
                alt="">
            <img style=" height: 70px; margin-top: 10px; float:left " class=""
                src="https://orig00.deviantart.net/5cf6/f/2016/082/0/d/tomoe_run_animation_by_hybridmink-d8ipuqu.gif"
                alt="">
            <img style=" height: 70px; margin-top: 10px; float:left " class=""
                src="https://orig00.deviantart.net/5cf6/f/2016/082/0/d/tomoe_run_animation_by_hybridmink-d8ipuqu.gif"
                alt="">
        </div>
    </div>

</div>


<div>
    <br>



    {{!-- <div style="float: right; margin-top: 20px; margin-right: 10px" class="rounded bg-dark">
        <img width="400px" src="https://emoji.gg/assets/emoji/1409-zerotwo-dance.gif" class="rounded float-right"
            alt="...">
    </div> --}}

    <div style="width: 57rem; margin-left: 10px" class="mt-4">
        <div class="row">

            {{!-- {{#each Movie}}
            <div style="margin-top: 10px;" class="col-sm-6 col-lg-4">
                <div class="card">
                    <img width="200" height="300" class="card-img-top" src="{{this.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="watch/{{this.slug}}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            {{/each}} --}}

        </div>
    </div>

</div>