<br>
<div class="container" style="width: 700px; float: left">
    <table class="table">
        <thead class="thead-dark bg-dark text-light">
            <tr>
                <th scope="col">number</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">title</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="bg-light">
            {{#each Movie}}
            <form method="get" action="/watch/delete/{{_id}}">
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td><img width="100px" height="100px" src="{{this.image}}" alt=""></td>
                    <td>{{this.name}}</td>
                    <td>{{this.title}}</td>
                    <td><a class="nav-link text-muted" href="/watch/edit/{{this._id}}">Edit</a></td>
                    <td><a class="nav-link text-muted"> <button type="submit">Delete</button></a></td>
                    {{!-- <button type="submit">Delete</button> --}}
                </tr>
            </form>
            {{/each}}
        </tbody>
    </table>
</div>

<img width="500px" style="margin-left: 100px;"
    src="https://i.pinimg.com/originals/00/0c/b2/000cb2d0820cc00de6171b036b5f8728.gif" class="rounded float-right"
    alt="...">